
.contenedor-principal{
    position: relative;
    background: #dc3545;
    height: 100vh;
}
.custom-shape-divider-bottom-1664218420 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1664218420 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 160px;
}

.custom-shape-divider-bottom-1664218420 .shape-fill {
    fill: #FFFFFF;
}