.experiencia-container{

    width: 100%;
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 
}
.experiencia-container > h3{
    margin-inline-end: auto;
    margin-left: 90px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 28px;
}

.experiencia-datos{

    border-left: 1px solid rgb(173, 165, 165);
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.experiencia-laboral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    
}

@media (max-width: 960px){

    .experiencia-laboral{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
        height: auto;
        
    }
    .experiencia-laboral > h3{

        width: fit-content;
    }

    .experiencia-container > h3{
        margin-inline-end: auto;
        margin-left: 1px;
        margin-top: 25px;
        margin-bottom: 30px;
        font-size: 28px;
    }
    .experiencia-datos{

        border-left: 1px solid rgb(173, 165, 165);
        width: 80%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

}